{% extends "base.html" %}

{% load static %}

{% block title %}Pointeuse{% endblock %}

{% block scripts %}
<link rel="stylesheet" type="text/css" href="{% static "stamper.css" %}" />
<script type="text/javascript" src="{% static "jquery-2.0.3.min.js" %}"></script>
<script type="text/javascript" src="{% static "jquery.cookie.js" %}"></script>
<script type="text/javascript" src="{% static "stamper.js" %}"></script>

<script type="text/javascript" src="{% static "qr/grid.js" %}"></script>
<script type="text/javascript" src="{% static "qr/version.js" %}"></script>
<script type="text/javascript" src="{% static "qr/detector.js" %}"></script>
<script type="text/javascript" src="{% static "qr/formatinf.js" %}"></script>
<script type="text/javascript" src="{% static "qr/errorlevel.js" %}"></script>
<script type="text/javascript" src="{% static "qr/bitmat.js" %}"></script>
<script type="text/javascript" src="{% static "qr/datablock.js" %}"></script>
<script type="text/javascript" src="{% static "qr/bmparser.js" %}"></script>
<script type="text/javascript" src="{% static "qr/datamask.js" %}"></script>
<script type="text/javascript" src="{% static "qr/rsdecoder.js" %}"></script>
<script type="text/javascript" src="{% static "qr/gf256poly.js" %}"></script>
<script type="text/javascript" src="{% static "qr/gf256.js" %}"></script>
<script type="text/javascript" src="{% static "qr/decoder.js" %}"></script>
<script type="text/javascript" src="{% static "qr/qrcode.js" %}"></script>
<script type="text/javascript" src="{% static "qr/findpat.js" %}"></script>
<script type="text/javascript" src="{% static "qr/alignpat.js" %}"></script>
<script type="text/javascript" src="{% static "qr/databr.js" %}"></script>

<script type="text/javascript" src="{% static "qr/qr.js" %}"></script>
<script type="text/javascript" src="{% static "qr/camera.js" %}"></script>
<script type="text/javascript" src="{% static "qr/init.js" %}"></script>

{% endblock %}

{% block content %}
        <video  id="camsource" autoplay width="320" height="240"></video>
        <canvas id="qr-canvas" width="320" height="240" style="display:none"></canvas>
        <h3 id="qr-value"></h3>
 {% endblock %}

{% block bottom_scripts %}
{% endblock %}

<script type="text/javascript">
//old code, need update and move

var video = $("#webcam")[0];
var canvas = $("#tmp_img")[0];

initButtons(function (login) {
    var data = new FormData();
    data.append("login", login);
    data.append("photo", captureWebcamImage(video, canvas), (new Date()).toString().split(' ').splice(1,4).join('-') + "-" + login + ".jpg");

    // see http://stackoverflow.com/questions/5392344/sending-multipart-formdata-with-jquery-ajax
    $("#uploading").toggleClass("waitmessage", false);
    $.ajax({
        url: '/',
        data: data,
        cache: false,
        contentType: false,
        processData: false,
        type: 'POST',
        success: function (data) {
            $("#uploading").toggleClass("waitmessage", true);
            $("#last_shot")[0].src = data.url;
        },
        error: function (xhr, status, error) {
            alert(status);
            $("#uploading").toggleClass("waitmessage", true);
        }
    });
});
</script>
