{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static %}
{% load url from future %}

{% block extrastyle %}
<style type="text/css">
div .ok {
    background-color: green;
    float: left;
    padding: 2px;
    margin: 2px;
}

div .middle {
    background-color: yellow;
    float: left;
    padding: 2px;
    margin: 2px;
}

div .ko {
    background-color: red;
    float: left;
    padding: 2px;
    margin: 2px;
}
</style>
{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=app_label %}">{{ app_label|capfirst|escape }}</a>
        &rsaquo; {{ opts.verbose_name_plural|capfirst }}
</div>
{% endblock %}
{% endif %}

{% block content %}
    <form action="." method="POST">
        {% csrf_token %}
        Contracts for <input type="date" name="filter_date" value="{{ filter_date|date:"c" }}" />
        <input type="submit" />
    </form>
    {% if contracts_stamps %}
        <div>
            {% for c in contracts_stamps %}
                <div class="{{ c.style }}">
                    <img src="http://cdn.local.epitech.eu/userprofil/profilview/{{ c.contract.login }}.jpg" />
                    <div>{{ c.contract.login }}</div>
                    <div>
                        {% if c.stamps %}
                            {{ c.stamps.time_min|date:"H:i" }}-{{ c.stamps.time_max|date:"H:i" }}
                        {% else %}
                            ???-???
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        No contract for today
    {% endif %}
{% endblock %}
