{% load i18n %}
<h3>{% blocktrans with filter_title=title %}By {{ filter_title }}{% endblocktrans %}</h3>
{{ spec.form.media }}
<style>
	.calendarbox {
		margin-left: -200px;
		z-index: 1000;
	}
	.date_form input {
		width: 100%;
	}
</style>
<form class="date_form" method="GET" action="">
	{{ spec.form.as_p }}
	<p>
	<input type="submit" value="Search" />
	</p>
</form>
